@import url('variable.css');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* - - - - - FOOTER - - - - - */
.display {
    display: flex;
}

.notDisplay {
    display: none;
}

.rotate {
    transform: rotate(90deg);
}

/* Version Mobile*/
footer {
    padding: 25px;
    background-color: var(--color-orange);
    /* background: linear-gradient(to left bottom, #F1A661 30%, #E38B29 70%); */
    color: var(--color-brown);

    section {
        display: flex;
        flex-direction: column;
        /* gap: 1rem; */

        .divTitle {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;
            justify-content: space-between;

            h2 {
                text-transform: uppercase;
                margin-left: 3px;
            }

            img {
                width: 15px;
                margin-right: 3px;
            }
        }
    }

    .ligne {
        display: flex;
        width: 100%;
        height: 3px;
        background: var(--color-brown);
        margin-bottom: 10px;
    }

    .divDescCont {
        .link {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            padding: 10px;

            img {
                width: 50px;
            }
        }
    }

    .divDescConn {
        form {
            display: flex;
            flex-direction: column;

            input {
                background-color: var(--color-cream);
                border: 1px solid var(--color-brown);
                margin-right: 5px;
            }

            input[type="text"],
            input[type="email"],
            input[type="password"] {
                margin-bottom: 10px;
            }
        }

        /* Checkbox */
        .check {
            display: flex;
            align-items: center;


            a {
                color: var(--color-brown);
                text-decoration: none;
                font-size: small;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        /* Ligne */
        .divLigne {
            padding: 15px;

            .lin {
                background-color: var(--color-brown);
                width: 100%;
                height: 5px;
                margin: auto;
                display: flex;
                flex-direction: row;
            }

            .cer {
                width: 20px;
                height: 20px;
                background-color: var(--color-brown);
                border: 5px solid var(--color-orange);
                border-radius: 50%;
                margin: auto;
                margin-top: -8px;
            }
        }

        /* Bouton submit */
        input[type='submit'] {
            cursor: pointer;
            background-color: var(--color-brown);
            color: var(--color-cream);
            text-transform: uppercase;
            padding: 5px;
            margin: 10px 0;
            font-family: "Inter", sans-serif;
            border-radius: 10px;
        }

        input[type='submit']:hover {
            background-color: var(--color-cream);
            color: var(--color-brown);
            border: 0;
        }
    }

    .divDescMele {
        ol {
            padding-left: 20px;
            padding-top: 10px;

            a {
                color: var(--color-brown);
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }

    .divDescCont, .divDescConn, .divDescMele{
        padding: 10px;
    }
}

/* *************** CSS POUR Tablette / Ordinateur *************** */
/* XXX plus grand ou égale à XXXpx */
/* Tablette ≥ 426px */
@media screen and (min-width: 426px) {
}

/* LapTop (NoteBock) ≥ 769px */
@media screen and (min-width: 769px) {     
    footer{
        section {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* grid-template-rows: repeat(2, 1fr); */
            /* grid-template-rows: repeat(2, 1fr); */
            gap: 0 5%;
            text-align: center;

            .isSelected{background-color: var(--color-beige);}
            .notSelected{background-color: var(--color-cream);}

            .divTitle{
                /* background-color: var(--color-beige); */
                justify-content: center;
                border-radius: 15px 15px 0 0;
                padding: 15px 50px;
                font-size: small;
                cursor: pointer;

                img{display: none;}
            }

            .ligne {
                display: none;
            }

            [data-choix="cont"] {
                grid-column: 1 / 2;
                grid-row: 1;
            }

            [data-choix="conn"] {
                grid-column: 2 / 3;
                grid-row: 1;
            }

            [data-choix="mele"] {
                grid-column: 3;
                grid-row: 1;
            }
        }

        .divDescCont,
        .divDescConn ,
        .divDescMele  {
            grid-column: 1 / 4;
            grid-row: 2;
            background-color: var(--color-beige);
            border-radius: 0 0 15px 15px;
            height: 350px;
        }

        .divDescConn{
            .troisFormulaire{
                flex-direction: row;
                justify-content: space-evenly;
                height: 100%;
            }

            div{
                display: flex;
                align-items: center;
            }

            .divLigne {
                height: 100%;

                .lin {
                    background-color: var(--color-brown);
                    width: 5px;
                    height: 100%;
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                }

                .cer {
                    width: 20px;
                    height: 20px;
                    background-color: var(--color-brown);
                    border: 5px solid var(--color-beige);
                    border-radius: 50%;
                    margin: auto;
                    margin-left: -8px;
                }
            }
        }

        .divDescMele {
        ol {
            text-align: start;

            li{
                margin-bottom: 25px;
            }
        }
    }
    }
}


/* Desktop ≥ 1025px */
@media screen and (min-width: 1025px) {

}