/* Import */
@import url('variable.css');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Inter", sans-serif;
    width: 100%;
}

/* - - - Animation Ligne - - - */
.animLigne{
position: relative;
z-index: 1;
}

.animLigne:before {
content: "";
position: absolute;
width: 100%;
height: 3px;
bottom: -3px;
left: 0;
background: var(--color-beige);
border-radius: 5px;
transform: scaleX(0);
transition: .3s linear;
}
.animLigne:hover:before,
.animLigne:focus:before {
transform: scaleX(1);
}

.display {
    display: flex;
}

.notDisplay {
    display: none;
}

/* - - - Fieldset & Legend - - - */
fieldset{
    border: 3px solid var(--color-brown);
    margin: 3%;
    padding: 25px;
    text-align: left;

    legend{
        text-transform: uppercase;
        text-align: center;
        padding: 0 5%;
        /* color: var(--color-brown); */
        font-size: larger;
        font-weight: bold;
    }
}

/* ********************** CSS MOBILE FISRT ********************** */
/* Vague */
.vague{
    width: 100%;
    position: absolute;
}

.vagueBas{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -2px;
    margin-top: -1px;
    background-color: var(--color-beige);
    z-index: 2;
}

/* Acceuil */
#acc{
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    
    #contenu{
        z-index: 1;
        position: absolute;
    }

    .desc{
        color: var(--color-cream);
        margin-left: 10px;
        font-size: medium;
    }

    .nom{text-justify: auto;}

    .off{display: none;}
}

/* Information */
#inf{
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(2 33%);
    background-color: var(--color-beige);
    padding-top: 65px;
    padding-bottom: 50px;
    /* padding: 65px 15px; */

    hgroup{
        margin: 25px;
        /* margin: 15px 0; */
        /* margin-right: 15px; */
        /* text-align: justify; */

        h2{text-transform: uppercase;}
    }

    .sep{
        grid-column: 1;
        grid-row: 1 / 4;
    }
    .apr{
        grid-column: 2;
        grid-row: 1;
    }
    .dev{
        grid-column: 2;
        grid-row: 2;
    }
    .aut{
        grid-column: 2;
        grid-row: 3;
    }

    .lin {
        background-color: var(--color-brown);
        width: 5px;
        height: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .cer {
        width: 20px;
        height: 20px;
        background-color: var(--color-brown);
        border: 5px solid var(--color-beige);
        border-radius: 50%;
        margin: auto;
        margin-left: -8px;
    }
    
}

/* - - - - - Home.php - - - - - */
.home{
    background-color: var(--color-beige);
    color: var(--color-brown);
    text-align: center;
    
    

        p{
            margin-bottom: 5px;
        }

        p span{
            text-decoration: underline;
            font-weight: bold;
        }
    

    .infoPerso {
        margin-bottom: 25px;

        a{
            color: var(--color-brown);
            text-decoration: none;
        }

        a:hover{
            text-decoration: underline;
        }
    }
}

/* - - - - - Dashboard - - - - - */
.dashboard{
    background-color: var(--color-beige);

    main{
        padding: 25px;

        .divBtn{
            gap: 25px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            

            .btn{
                cursor: pointer;
                background-color: var(--color-brown);
                color: var(--color-cream);
                text-transform: uppercase;
                padding: 5px;
                margin: 10px 0;
                font-family: "Inter", sans-serif;
                border-radius: 10px;
                text-decoration: none;
                padding: 5px 25px
            }

            .btn:hover{
                background-color: var(--color-cream);
                color: var(--color-brown);
                border: 0;
            }
        }
        
        
    }
}

/* - - - - - Profil Utilisateur - - - - - */
section{
    width: 100%;

    .articleProfilUtilisateur{
        width: 100%;
        color: var(--color-brown);
        .img{
            display: flex;
            justify-content: space-evenly;
        }

        p{
            margin-bottom: 5px;
        }
        
        p span{
            text-decoration: underline;
            font-weight: bold;
        }
    }

    .ligne{
        background-color: var(--color-brown);
        width: 95%;
        height: 5px;
        margin: auto;
        display: flex;
        flex-direction: column;
        border-radius: 100px;
        margin: 15px;
    }
}

/* - - - - - Projet - - - - - */

/* *************** CSS POUR Tablette / Ordinateur *************** */
/* XXX plus grand ou égale à XXXpx */
/* Tablette ≥ 426px */
@media screen and (min-width: 426px) {
    #inf{
        padding-top: 125px;
    }
}

/* LapTop (NoteBock) ≥ 769px */
@media screen and (min-width: 769px) {
    /* Acceuil */
    #acc{
        display: flex;
        place-content: center;

        .vague{top: 200px;}
        .off{display: flex;}

        #contenu{
            display: flex;
            flex-direction: row;
            gap:50px;

            div{
                display: flex;
                place-content: center;
                align-items: center;
                flex-direction: column-reverse;
                h1{margin-left: 0;}

                .nom{
                    color: var(--color-brown);
                    font-size: 75px;
                    width: 300px;
                    text-align: center;
                }
            }

            img{width: 255px;}
        }

        #fondSupplementaire{
            background-color: var(--color-orange);
            width: 100%;
            height: 200px;
            position: relative;
            top: 0;
            left: 0;
        }
    }

    /* Information */
    #inf{
        grid-template-columns: 45% 10% 45%;
        grid-template-rows: repeat(3 33%);
        padding-top: 200px;

        hgroup{
            margin: 50px;
        }

        .sep{
            grid-column: 2;
            grid-row: 1 / 4;
        }
        .apr{
            grid-column: 1;
            grid-row: 1;
        }
        .dev{
            grid-column: 3;
            grid-row: 2;
        }
        .aut{
            grid-column: 1;
            grid-row: 3;
        }
    }

    /* Profil Utilisateur */
    .articleProfilUtilisateur{
        display: flex;
        justify-content: space-between;

        .img{
            flex-direction: column;
        }
    }
}

/* Desktop ≥ 1025px */
@media screen and (min-width: 1025px) {
    /* Acceuil */
    #acc{
        display: flex;
        place-content: center;

        .vague{top: 350px;}

        .off{display: flex;}

        #contenu{
            gap:225px;

            img{width: 500px;}
        }

        #fondSupplementaire{
            height: 350px;
        }
    }

    /* Information */
    #inf{
        padding-top: 350px;

        hgroup{
            margin: 75px;
        }
    }
}